.dialog-body {
	width: max(200px, 40vw);
	height: 100px;
	padding: 2rem;
}

.question {
	text-align: center;
	height: 70%;
}

.dialog-body .controls {
	float: right;
}
.controls {
	width: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
