.button {
	padding: 0.5rem;
	border: 2px solid transparent;
	box-sizing: border-box;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}

.classic {
	color: var(--color-primary);
	background-color: var(--color-secondary);
}

.inverse {
	color: var(--color-secondary);
	background-color: var(--color-primary);
	border-color: var(--color-secondary);
}

.classic:hover {
	background-color: #3a9bdc;
}

.inverse:hover {
	background-color: #eee;
}
