.remove-button {
	padding: 0.5rem;
	box-sizing: border-box;
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	color: var(--color-primary);
	background-color: var(--color-warning);
}

.remove-button:hover {
	background-color: red;
}

.disabled {
	cursor: not-allowed;
	background-color: var(--color-ligth-grey);
}
