.room-page {
	margin-top: 2rem;
	width: 70vw;
	height: 70vh;
	color: var(--color-dark-grey);
}

.room-content {
	padding: 1rem;
	width: 70vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
}

.room-title {
	text-align: center;
	text-transform: capitalize;
}

.room-devices-container {
	height: 75%;
	width: inherit;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
}

.room-devices {
	height: 100%;
	width: inherit;
	display: flex;
	flex-wrap: nowrap;
	overflow-y: auto;
	padding-bottom: 1.5rem;
	box-sizing: border-box;
	padding: 0 10px;
	gap: 1rem;
}

.device {
	width: 100%;
	min-width: 300px;
	padding: 1rem;
	background-color: var(--color-dark-grey);
	color: var(--color-primary);
	border-radius: 25px;
	box-sizing: border-box;
	margin-top: 1rem;
}

.device-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.device .alias {
	font-size: 1.2rem;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 2rem;
	white-space: nowrap;
}

.device .status {
	text-transform: uppercase;
	float: right;
	flex: 1;
}

.device .controls {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	line-height: 25px;
	box-sizing: border-box;
	margin-top: 0.5rem;
}

.add-device {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.remove-device {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 768px) {
	.room-page,
	.room-content {
		width: 95vw;
	}
}
