.login-form {
	width: 100%;
	padding: 25px;
	color: var(--color-secondary);
}

.form-section {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-section input {
	box-sizing: border-box;
	margin-top: 0.3em;
	border-radius: 0.3rem;
	border: 2px solid var(--color-secondary);
	line-height: 20px;
}

.controls {
	margin-top: 0.5em;
	display: flex;
	flex-direction: column;
	float: right;
}

.invalid {
	border-color: var(--color-warning) !important;
}
