.device-params {
	margin-top: 1rem;
	height: 70%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	border: 2px solid var(--color-ligth-grey);
	border-radius: 5px;
	padding-bottom: 10px;
	padding: 5px;
	overflow: auto;
}

.mini-header {
	font-size: 1.1rem;
	padding-left: 10px;
	font-weight: bold;
}

.param {
	color: var(--color-dark-grey);
	width: 100%;
	min-height: 20px;
	margin: 10px;
	box-sizing: border-box;
}

.func-param {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: space-between;
	align-items: center;
}
.param p,
.func-param p {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.setting-param {
	display: flex;
	align-items: center;
	justify-content: center;
}

.setting-param input {
	width: 100%;
}
