.user-navbar {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-nav {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.login-info {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

.home-dir {
	margin-left: 2rem;
}

.active {
	cursor: pointer;
	background-color: var(--color-dark-grey);
}

@media only screen and (max-width: 768px) {
	.user-navbar {
		justify-content: space-around;
	}
	.user-nav {
		width: 100%;
		justify-content: flex-start;
		gap: 20px;
	}
	.login-info {
		display: none;
	}
}
